.LoginPage {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#loginModal_Logo{
    padding-top: 2em;
    padding-left: 2em;
    display: flex;
    gap: 0.5em
}

#loginModal_title{
    padding-top: 1em;
    padding-left: 2em;
}

.LoginPageForm, .RegisterPageForm {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.accessFormLabel{
    margin-bottom: 0.3em;
}

.InputContainer {
    margin: auto;
    margin-top: 0em;
    display: flex;
    flex-direction: column;
    background-color: white;

    width: 80%;
    border: none;
    padding: 0.5rem 2rem 0.5rem 0.5rem
}

#loginSubmitBtn{
    width: 100%;
    margin-top: 1em;
    height: 2.4em;
    background-color: rgba(222, 82, 18, 1);
    border-radius: 40px;
    font-size: 16px;
    font-weight: 300;
}

.InputContainer label {
    font-weight: 500;
}

.InputContainer input {
    height: 2em;
    background-color: white;
    border-radius: 40px;
    border: 2px solid;
    border-color: rgba(182, 184, 184, 1);
    padding: 0.2em 1em;
}

.LoginErrMsg{
    font-size: 1em;
    background-color: crimson;
    width: fit-content;
    margin: auto;
    margin-top: 2em;
    padding: 0.5em 1em;
}