:root {
  --bg_gray: #f2f2f2;
  --border_gray: #D1D1D1;
  --blue: #1900D5;
  --text_gray: #7C7C7C;
  --neutraldarkest: rgba(29, 31, 31, 1);
  --neutraldarker: rgba(93, 95, 95, 1);
  --neutralgrey: rgba(182, 184, 184, 1);
  --neutrallighter: rgba(227, 227, 227, 1);
  --neutrallightest: rgba(244, 244, 245, 1);
  --secondarylightest: rgba(251, 248, 245, 1);
}

* {
  font-family: Roboto, Arial, Helvetica;
  font-weight: 250;
  margin: 0; padding: 0; border: none;
  max-width: 100%;
}

button {
  background-color: blueviolet;
  color: white;
  border-radius: 6px;
  border-style: none;
  padding: 0.4em 1em;
  cursor: pointer;
}

/* Remove default link format: */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color:black; 
  text-decoration:none; 
  cursor:pointer;  
}


body {
  margin: 0 0;
  padding: 0 0;
  width: 100%;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainBody {
  min-height: 60vh;
  width:fit-content;
}