.DeliveryStatus {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 60px 0;
    height: 900px;
    background-color: white;
    display: flex;
    
    justify-content: center;
    
}
.profile{
    margin-right: 60px;
}
.profile-data{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}
.nav-bar-1{
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.nav-1{
    margin-left: 40px;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}
.nav-bar-2{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}
.nav-2{
    margin-left: 40px;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
}
.waiting-orders{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.order{
    margin-left: 80px;
    background-color: #F0F0F0;
    width: 100%;
    height: 300px;
    margin-top: 20px;
}
.upper-half{
    height: 45%;
    display: flex;
    align-items: left;
    flex: row;
}
.upper-left{
    width: 60%;
    display: flex;
    align-items: left;
    flex: row;
}
.product-name{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 15px;
    font-weight: bold;
}
.quantity{
    font-size: 17px;
    margin-left: 20px;
    margin-top: 5px;
    
}
.delivering-status{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5px;
    
}
.upper-right-half{
    display: flex;
    align-items: left;
    flex: row;
    justify-content: space-between;
}
.time{
    margin-top: 10px;
    font-size: 18px;
}
.status{
    margin-left: 85px;
    margin-top: 10px;
    color: #F00;
    font-weight: bold;
    font-size: 18px;
}
.asking{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}
.price{
    font-weight: bold;
    margin-top: 30px;
    font-size: 18px;
    color: #F00;
}
.lower-half{
    display: flex;
    align-items: left;
    
    flex-direction: row;
}
.btn{
    background-color: #fff;
    border: 1px solid black;
    width: 100%;
    color: black;
    border-radius: 0px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}
.shipping{
    font-size: 18px;
    font-weight: bold;
}
.cost{
    font-weight: bold;
    margin-left: 5px;
    font-size: 18px;
    color: #F00;
}
.lower-right-half{
    margin-top: -40px;
    display: flex;
    align-items: left;
    flex: row;
    justify-content: space-between;
}